.chat {
    flex: 0.70;
    /* flex-shrink: 10; */
    display: flex;
    flex-direction: column;
}

.chat__header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid lightgray; */
    border-bottom: 1px solid #323739;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    /* margin-bottom: 3px; */
    font-weight: 500;
    color: #dadbd3;
}

.chat__headerInfo > p {
    color: gray;
    font-size: 12px; 
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
}

.chat__headerRight .MuiSvgIcon-root {
    color: grey;
}

.chat__body {
    flex: 1;
    background-image: url('https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg');
    /* background-color: lightyellow; */
    overflow-y: auto;
    padding: 30px;
}

.chat__body::-webkit-scrollbar {
    width: 5px;
    background-color: lightgrey;
}

.chat__body::-webkit-scrollbar-thumb {
    background-color: lightslategrey;
}

.chat__message {
    position: relative;
    margin-left: auto;
    /* background-color: white; */
    background-color: #262d31;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
    max-width: 70%;
    color: #dadbd3;
}

.chat__message > .chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__message > .chat__timestamp {
    margin-right: 10px;
    font-size: xx-small;
}

.chat__reciever {
    background-color: #0f4740;
    margin-left: 0;
    box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.2);
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
    background-color: #1e2428;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer .MuiSvgIcon-root {
    color: grey;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #33383b;
    color: #dadbd3
}

.chat__footer > form > button {
    display: none;
}